<div class="container" id="product-cards">
    <div class="row" style="margin-top: 30px;">
        {{#each position}}
        <div class="col-md-3 py-3 py-md-0">
            <div class="card-shop animated-card">
                <div class="card-body">
                    <h3>{{description}}</h3>
                    <a class="btn btn-primary btn-rounded" href="/position/edit/{{_id}}">Editar</a>
                    <form action="/position/delete/{{_id}}?_method=DELETE" method="POST"
                        class="form-check form-check-inline">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-rounded">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>