<form action="/position/edit/{{position._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <div class="container d-flex justify-content-center align-items-center min-vh-100 ">

        <div class="col-md-6 border rounded-5 p-3 bg-white shadow">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Editar rol</h2>
                    <p>Ingresa los nuevos datos del rol</p>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" required placeholder="Nombre"
                        name="first_name" value="{{position.description}}">
                </div>


                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Guardar</button>
                </div>

            </div>
        </div>
</form>