<form action="/position/new-position" method="post">
    <div class="container d-flex justify-content-center align-items-center min-vh-100 ">

        <div class="col-md-6 border rounded-5 p-3 bg-white shadow">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Agregar nuevo rol</h2>
                    <p>Ingresa los datos del rol</p>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" required
                        placeholder="Descripción" name="description">
                </div>

                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Agregar Rol</button>
                </div>

            </div>
        </div>
</form>