<div class="container404 text-center">
    <div class="row">
        <div class="col" class="error-404">
            <img src="/image/404.jpg" class="img-fluid" id="error-img" alt="">
            <h1>404</h1>
            <p>Oops! Page not found</p>
            <a href="#" id="error-button">Go back to homepage</a>
        </div>
    </div>
</div>