<div class="body-about d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow box-area card-img-top cardb">
        <div class="content">
            <div class="img">
                <img src="/image/benjamin_foto.png" alt="" class="shadow box-area">
            </div>
            <h4>Benjamín Rayón Corona</h4>
            <h6>Estudiante en</h6>
            <p>Ingeniería en Sistemas Computacionales</p>
            <div class="icon-f">
                <a><img src="/icon/facebook.png" alt=""></a>
                <a><img src="/icon/whatsapp.png" alt=""></a>
                <a><img src="/icon/twitter.png" alt=""></a>
            </div>
        </div>

    </div>

    <div class="card shadow box-area">
        <div class="content">
            <div class="img">
                <img src="/image/daniela_foto2.png" alt="" class="shadow box-area">
            </div>
            <h4>Daniela Solano Quiroz</h4>
            <h6>Estudiante en</h6>
            <p>Ingeniería en Sistemas Computacionales</p>

            <div class="icon-f">
                <a><img src="/icon/facebook.png" alt=""></a>
                <a><img src="/icon/whatsapp.png" alt=""></a>
                <a><img src="/icon/twitter.png" alt=""></a>
            </div>
        </div>
        <div class="links">

        </div>
    </div>


</div>