<header>
    <div class="container">
        <div class="banner-text">
            <div class="text-area text-warning">
                <span>A</span> <span>r</span> <span>i</span> <span>a</span>   <span></span> <span>B</span>
                <span>i</span> <span>t</span>
            </div>
            <p class="banner-text-p">La esencia de tu aroma.</p>
            <p class="banner-btn"><a href="/shop">COMPRAR AHORA</a></p>
        </div>
    </div>
</header>